body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
.a{
    background-color: pink;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
justify-items: center;

}
form{
    background-color: antiquewhite;
    height: 80px;
    width: 160px;
    border-radius: 30px;
    display:flexbox;



}